html
  head
    title= title
    link(rel='stylesheet', href='/css/styles.css')
  body
    div(class='box-class')
      h1= message
      p= body
      p= body
      p= body
      p 
        | this is another style of syntax
